<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>PPP Ingénieur</title>
  <link rel="stylesheet" href="./style/ecole_article.css">
  <link rel="stylesheet" href="./style/debouches_article.css">
  <link rel="stylesheet" href="./style/main_header.css">
  <link rel="stylesheet" href="./style/navbar.css">
  <link rel="stylesheet" href="./style/footer.css">
  <link rel="stylesheet" href="./style/index.css">
  <link rel="stylesheet" href="./style/dark.css" id="pagestyle">
  <link rel="icon" href="logobROUND.png">
</head>

<body>
  <header class="navbar">
    <a href="#" class="">
      <img src="./logob.png" alt="icone">
      <h1>PPP \ Ingénieur</h1>
    </a>
    <label class="switch">
      <input type="checkbox" name="Dark Mode" id="toggle" checked onclick="ChangeCSS()">
      <div class="slider round"></div>
    </label>
  </header>
  <main>
    <section>
      <header>
        <h2>Après un DUT, une école d'ingé ?!</h2>
        <p>Voilà la liste des meilleurs écoles d'ingénieurs de la France pour l'informatique, vous pouvez choisir entre un classement global ou afficher les écoles les plus proches de vous via le slider juste en dessous !</p>
        <button class="tablinks" onclick="SwitchTab(event, 'EcolesIngesTab')" id="DefaultTab">Écoles d'ingénieurs</button>
        <button class="tablinks" onclick="SwitchTab(event, 'DebouchesTab')">Débouchés</button>
      </header>
    </section>
    <article id="DebouchesTab" class="tabcontent">
      <h2>Les Débouchés</h2>
      <ul>
        <li><a onclick="SwitchTab(event, 'EcolesIngesTab')">Les écoles d'ingénieur</a></li>
        <li><span class="menu_deroulant">Les licences</span>
          <ul class="imbrication">
            <li><a href="https://diplomeo.com/licence-informatique">Licence informatique</a></li>
            <li><span class="menu_deroulant">Licence pro métiers de l'informatique</span>
              <ul class="imbrication">
                {% for (site, nom) in infos_licence_pro %}
                <li><a href="{{site}}">{{nom}}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <li><span class="menu_deroulant">Les écoles d'informatique</span>
          <ul class="imbrication">
            {% for (site, nom) in infos_ecoles_info %}
            <li><a href="{{site}}">{{nom}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>Entrer dans la vie active</li>
      </ul>
    </article>
    <article id="EcolesIngesTab" class="tabcontent">
      <div>
        <label class="switch">
        <input type="checkbox" name="Geolocation" id="location-button" onclick="SwapOrder()">
        <div class="slider round"></div>
      </label>
      </div>
      {% for (desc, adresse, tel, date_lim, image, adresse_site, nomhtml, nom) in infos_ecole_inge %}
      <section class="responsive" id="{{nomhtml}}">
        <img src="{{image}}" alt="{{nom}}">
        <section>
          <h2>{{nom}}</h2>
          <h3>{{desc}}</h3>
          <p>{{adresse}}</p>
          <p>Tel. {{tel}}</p>
          <p>Date limite d'inscription: {{date_lim}}</p>
          <p class="distance"> </p>
          <a href="{{adresse_site}}" class="bouttonplus">En savoir plus</a>
        </section>
      </section>
      {% endfor %}
    </article>
  </main>
  <footer>
    <section class="apropos">
      <h2>À Propos</h2>
      <p>Cette page a été créée dans le cadre de la création d'une page web pouvant fournir les informations nécessaires à des étudiants possedant un DUT informatique de trouver la meilleur écoles d'ingénieur selon la pertinance ou leur localisation</p>
    </section>
    <section class="contact">
      <h2>Contact</h2>
      <ul>
        <li><a href="http://www.univ-orleans.fr/fr/iut-orleans">Site de l'IUT></a></li>
        <li><a href="http://www.univ-orleans.fr/fr">Site de l'université></a></li>
      </ul>
    </section>
  </footer>
  <script src="./script/cssmode.js"></script>
  <script src="./script/geolocation.js"></script>
  <script src="./script/tabs.js"></script>
  <script src="script/menuderoulant.js"></script>
</body>

</html>