html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding-top: 3em;
}

p {
    word-wrap: break-word;
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    .responsive {
        flex-basis: 40%;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        flex-basis: 90%;
        margin-bottom: 2em;
    }
    .navbar a {
        padding-left: 10%;
    }
    .contact {
        margin-left: 0;
    }
    .apropos {
        flex-basis: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    article {
        background-color: rgb(30, 30, 30);
    }
    .responsive,
    .bouttonplus {
        background-color: rgb(50, 50, 50);
    }
    .bouttonplus:hover {
        background-color: rgb(80, 80, 80);
    }
    body,
    main>section,
    footer {
        background-color: rgb(40, 40, 40);
    }
    .responsive,
    .bouttonplus {
        color: lightgray;
        border-color: lightgray;
    }
    section>header>p,
    section>header>h2,
    .contact,
    .apropos {
        color: #7c868f;
    }
}

.premier {
    order: 1;
}

.deuxieme {
    order: 2;
}

.troisieme {
    order: 3;
}

.quatrieme {
    order: 4;
}

.cinquieme {
    order: 5;
}

.sixieme {
    order: 6;
}

.septieme {
    order: 7;
}

.huitieme {
    order: 8;
}

.neuvieme {
    order: 9;
}