footer {
    background-color: rgb(250, 250, 250);
}

article {
    background-color: rgb(238, 238, 238);
    color: black;
}

section>header>p,
section>header>h2 {
    color: #6c757d;
}

.responsive,
.bouttonplus {
    background-color: white;
    color: black;
}

.bouttonplus:hover {
    background-color: #e7e7e7;
}

main>section {
    background-color: rgb(250, 250, 250);
}

.bouttonplus {
    color: grey;
    border: 2px solid #e7e7e7;
}

article>section>section>p {
    color: rgb(80, 80, 80);
}

article>section>section>h3 {
    color: rgb(29, 29, 29);
}