footer {
    background-color: rgb(250, 250, 250);
}

article {
    background-color: rgb(245, 245, 245);
}

section>header>p,
section>header>h2 {
    color: #6c757d;
}

.responsive,
.bouttonplus {
    background-color: white;
    color: black;
}

.bouttonplus:hover {
    background-color: #e7e7e7;
}

main>section {
    background-color: rgb(250, 250, 250);
}

.bouttonplus {
    color: grey;
    border: 2px solid #e7e7e7;
}