main>section>header {
    text-align: center;
    padding: 4rem 2rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

main>section {
    transition-duration: 0.5s;
}

header>h2 {
    color: #6c757d;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0;
}

header>p {
    font-size: 1.3em;
    font-weight: 300;
}

button.tablinks {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    color: #FFFFFF;
    background-color: #0F71D6;
    text-align: center;
    transition: all 0.2s;
    border-style: hidden;
    outline: 0;
}

button.tablinks:hover {
    background-color: rgb(55, 155, 255);
}

button.active {
    background-color: rgb(96, 176, 255);
}

.tabcontent {
    animation: transi_fondu 1s;
}

@keyframes transi_fondu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}